@import "./vars";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font: 16px/1 Arial, sans-serif;
  color: $main-black;
  background-color: $body-bg-color;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: $main-grey;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
