@import './vars';

%with-margin {
  margin-top: 8px;
}

.btn {
  padding: 6px 24px;
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: $main-grey;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.btn--email {
  @extend %with-margin;
  background-color: #008000;

  &:hover {
    background-color: #006700;
  }

  &:disabled {
    background-color: transparent;
  }
}

.btn--facebook {
  @extend %with-margin;
  background-color: #347ab7;

  &:hover {
    background: #2e6da3;
  }
}

.btn--google {
  @extend %with-margin;
  background-color: #d9534f;

  &:hover {
    background: #d43f3a;
  }
}

.btn--select-city {
  background-color: #008000;

  &:hover {
    background-color: #006700;
  }

  &:first-child {
    margin-right: 8px;
  }
}

.btn--follow {
  background-color: #008000;

  &:hover {
    background-color: #006700;
  }
}
