.btn {
  margin-top: 8px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: $main-grey;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.btn-auth--email {
  background-color: #008000;

  &:hover {
    background-color: #006700;
  }

  &:disabled {
    background-color: transparent;
  }
}

.btn-auth--facebook {
  background-color: #347ab7;

  &:hover {
    background: #2e6da3;
  }
}

.btn-auth--google {
  background-color: #d9534f;

  &:hover {
    background: #d43f3a;
  }
}
