// METRIC

$header-height: 30px;
$footer-height: 30px;
$header-footer-size: 18px;
$form-width: 350px;

// COLORS

$body-bg-color: #b3ffb3;
$header-bg-color: #006400;
$nav-bg-color: #004d00;
$main-grey: #ccc;
$main-black: #000;
$input-bg-color: #64e764;
