<table class="forecast-table">
  <tr>
    <th>Time</th>
    <th>Icon</th>
    <th>Description</th>
    <th>Temperature, °C</th>
    <th>Wind, m/s</th>
    <th>Pressure, mm</th>
    <th>Clouds, %</th>
    <th>Humidity, %</th>
  </tr>
  <tr *ngFor="let forecastItem of currentList">
    <td>{{forecastItem.dt_txt | date: 'shortTime'}}</td>
    <td>
      <app-weather-icon
        [iconName]="forecastItem.weather.icon"
        [iconTitle]="forecastItem.weather.main">
      </app-weather-icon>
    </td>
    <td>{{forecastItem.weather.description}}</td>
    <td>{{forecastItem.main.temp | number: '.0-0'}}</td>
    <td>
      <div class="forecast-wind">
        <app-wind-direction-icon
          [degree]="forecastItem.wind.deg"
          [windDirection]="forecastItem.wind.dirText">
        </app-wind-direction-icon>
        &nbsp;{{forecastItem.wind.speed | number: '.2-2'}}
      </div>
    </td>
    <td>{{forecastItem.main.pressure | toMillimeters}}</td>
    <td>{{forecastItem.clouds.all}}</td>
    <td>{{forecastItem.main.humidity}}</td>
  </tr>
</table>
