<div class="form-wrapper">
  <form class="form">
    <label class="form__label">
      Email
      <input class="form__input" type="email" placeholder="Type email">
    </label>
    <label class="form__label">
      Password
      <input class="form__input" type="password" placeholder="Type password">
    </label>
    <button class="btn-auth--email" type="submit">Login</button>
  </form>
  <div class="auth-buttons">
    <button class="btn-auth--facebook">Login with Facebook</button>
    <button class="btn-auth--google">Login with Google</button>
  </div>
</div>
