@import "../../../styles/vars";

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab {
  flex: 1 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #555;
  border-right: none;
  cursor: pointer;

  &:last-child {
    border: 1px solid #555;
  }
}

.active-tab {
  background-color: $header-bg-color;
  color: #fff;
}

.date {
  text-align: center;

  &__day-number {
    margin: 3px 0;
    font-size: 24px;
  }
}
