.wind-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
}

.wind-icon {
  width: 20px;
  height: 20px;
}
