<div *ngIf="forecast" class="forecast-wrapper">
  <h3 class="forecast-header">
    Weather forecast in {{forecast.city.name}}, {{forecast.city.country}} - {{forecast.city.population}} pop.
  </h3>
  <ul class="tabs">
    <li *ngFor="let data of forecast.tabData" class="tab">
      <div class="date">
        <p class="date__month">{{data.month}}</p>
        <p class="date__day-number">{{data.dayNumber}}</p>
        <p class="date__day-name">{{data.dayName}}</p>
      </div>
      <div class="image">
        <img class="image__icon" src="#" alt="weather icon">
      </div>
      <div class="temperature"></div>
    </li>
  </ul>
</div>





<!--<div *ngIf="!forecast" class="forecast-wrapper">
  <div>
    <div>City: {{forecast.city.name}}</div>
    <div>Country: {{forecast.city.country}}</div>
    <div>Population: {{forecast.city.population}}</div>
  </div>
  <hr>
  &lt;!&ndash;<div>{{}}</div>&ndash;&gt;
  <hr>
  <div>Cloudiness: {{forecast.list[0].clouds?.all}}%</div>
  <hr>
  <div>
    <div>{{forecast.list[0].wind.speed}} m/s</div>
    <div>{{forecast.list[0].wind.dirText}}</div>
    <div>{{forecast.list[0].wind.dirMark}}</div>
  </div>
  <hr>
  <div>
    <div>{{forecast.list[0].weather[0].main}}</div>
    <div>{{forecast.list[0].weather[0].description}}</div>
    <div>{{forecast.list[0].weather[0].icon}}</div>
  </div>
  <hr>
  <div>{{forecast.list[0].rain['3h']}}</div>
  <hr>
  <div>{{forecast.list[0].snow['3h']}}</div>
  <hr>
  <div>
    <div>Humidity: {{forecast.list[0].main.humidity}}%</div>
    <div>Atmospheric pressure: {{forecast.list[0].main.pressure | toMillimeters}} mm</div>
    <div>Temperature: {{forecast.list[0].main.temp}}° C</div>
  </div>
</div>-->
