@import '../../../shared/styles/vars';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $header-height;
  background-color: $header-bg-color;

  &__title {
    color: $main-black;
    font-size: $header-footer-size;
    font-weight: normal;

    span {
      color: $main-grey;
    }
  }
}
