@import "../../../styles/vars";

.navigation {
  background-color: $nav-bg-color;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    margin-right: 10px;
    padding: 5px;
    color: #ccc;
    font-size: 1em;
    cursor: pointer;

    &:hover {
      background-color: #006400;
      color: #f2f2f2;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-list__item--active {
  background-color: #006400;
  color: #f2f2f2;
}
