@import '../../../styles/button';

.suggestions-list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.suggestion {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background-color: #f2f2f2;
  }

  &__icon {
    margin-right: 3px;
  }
}

.selected {
  background-color: #ccc;

  &:hover {
    background-color: #ccc;
  }
}

.not-found {
  padding: 10px;
  background-color: #fff;
}

.buttons {
  display: flex;
  margin-top: 8px;
}
