<div class="container">
  <app-header [userName]="authUser?.displayName"></app-header>
  <nav class="navigation">
    <ul *ngIf="!authUser" class="nav-list">
      <li class="nav-list__item" routerLink="/login" routerLinkActive="nav-list__item--active">Sign in</li>
      <li class="nav-list__item" routerLink="/register" routerLinkActive="nav-list__item--active">Sign up</li>
    </ul>
    <ul *ngIf="authUser" class="nav-list">
      <li class="nav-list__item" routerLink="/weather" routerLinkActive="nav-list__item--active">Weather</li>
      <li class="nav-list__item" routerLink="/search" routerLinkActive="nav-list__item--active">Search</li>
      <li class="nav-list__item" (click)="doSignOut()">Sign out</li>
    </ul>
  </nav>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "large"
  color = "#fff"
  type = "ball-8bits"
></ngx-spinner>
