@import "./styles/vars";

.container {
  min-height: 100%;
  padding-bottom: 30px;
}

.navigation {
  background-color: $nav-bg-color;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    padding: 5px 10px;
    color: #ccc;
    font-size: 1em;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: #006400;
      color: #f2f2f2;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-list__item--active {
  background-color: #006400;
  color: #f2f2f2;
}
