.container {
  height: 100%;
  padding-bottom: 30px;
}

.content-wrapper {
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: auto;
}

.content {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
