.weather {
  padding-top: 15px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
  }

  &__icon {
    width: 100px;
    height: 100px;
  }

  &__date {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    font-size: 14px;
  }

  &__data-wrapper {
    display: flex;
    justify-content: center;
  }

  &__left-data {
    display: flex;
    flex-direction: column;
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  &__description {
    margin-top: -20px;
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
  }

  &__sun {
    text-align: center;
  }

  &__table {
    margin: 15px 0 0 25px;
    border-collapse: collapse;
    user-select: none;

    td {
      border: 1px solid #555;
      color: #000;
      text-align: center;
      padding: 15px;
    }

    td.wind-cell {
      padding: 7px 15px;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
