@import '../../../styles/button';

.forecast-info {
  padding-top: 15px;
}

.city-title {
  font-weight: normal;

  span {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.reminding-header {
  display: inline-block;
  margin-right: 5px;
  font-weight: normal;
}

.cities-list {
  display: inline-flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 5px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.forecast {
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__no-city-info {
    margin: 15px 0;
    text-align: center;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    text-align: center;
  }

  &__info-icon {
    margin-left: 3px;
  }
}
